<p>momentjs works!</p>
<table>
    <tr>
        <td>startTime:</td>
        <td>{{startTime}}</td>
    </tr>
    <tr>
        <td>moment(startTime).utc().toString(): </td>
        <td>{{startDateToString}}</td>
    </tr>
    <tr>
        <td>moment(startTime).utc().format("YYYY-MM-DD"):</td>
        <td>{{startDateFormatYYYYMMDD}}</td>
    </tr>
    <tr>
        <td>moment(this.startTime).utc().format("MMM Do"):</td>
        <td>{{startDateFormatMMMDo}}</td>
    </tr>
    <tr>
        <td>moment(this.startTime).utc().format("MM-DD-YYYY"):</td>
        <td>{{startDateFormatMMDDYYYY}}</td>
    </tr>
    <tr>
        <td>moment(startTime).format("MMM D, YYYY, h:mm a"):</td>
        <td>{{startDateFormatMMMDYYYYhmma}}</td>
    </tr>

    <tr>
        <td>moment().isBefore(moment(this.startTime)):</td>
        <td>{{isBeforeStartTime}}</td>
    </tr>

    <tr>
        <td>moment(startTime).calendar()</td>
        <td>{{startDateCalendar}}</td>
    </tr>

    <tr>
        <td>moment(startTime).format('L') === moment().format('L') ? 'Today' : moment(startTime).format('L')</td>
        <td>{{startDateFormatL}}</td>
    </tr>

    <tr>
        <td>moment(startTime).startOf('day').valueOf()</td>
        <td>{{startDateStartOfDay}}</td>
    </tr>

    <tr>
        <td>moment(new Date(startTime).getTime()).format('YYYY-MM-DDTHH:mm:ss+08:00'):</td>
        <td>{{startDateFormatYYYYMMDDTHHMMSS}}</td>
    </tr>

    <tr>
        <td>moment().toString():</td>
        <td>{{nowToString}}</td>
    </tr>
    <tr>
        <td>moment().format("MM-DD-YYYY"):</td>
        <td>{{nowFormatMMDDYYYY}}</td>
    </tr>

    <tr>
        <td>moment().add('30', 'days').valueOf():</td>
        <td>{{nowAdd}}</td>
    </tr>

    <tr>
        <td>moment().format("dddd"):</td>
        <td>{{nowFormatdddd}}</td>
    </tr>

    <tr>
        <td>date:</td>
        <td>{{date}}</td>
    </tr>
    <tr>
        <td>date === moment().format("MM-DD-YYYY"):</td>
        <td>{{today}}</td>
    </tr>
    <tr>
        <td>date === moment().subtract(1, 'day').format('MM-DD-YYYY'):</td>
        <td>{{yesterday}}</td>
    </tr>
    <tr>
        <td>moment(date, 'MM-DD-YYYY').format('dddd, MMMM DD, YYYY'):</td>
        <td>{{dateFormatDDDDMMMMDDYYYY}}</td>
    </tr>
    <tr>
        <td>moment(date).format('MMMM DD, YYYY'):</td>
        <td>{{dateFormatMMMMDDYYYY}}</td>
    </tr>

    <tr>
        <td>momentTz.tz.names()</td>
        <td>{{tzNames}}</td>
    </tr>

    <tr>
        <td>momentTz.tz.guess():</td>
        <td>{{tzGuess}}</td>
    </tr>
</table>